<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>xpa_document</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>footer ver.change.md</string>
		</array>
		<array>
			<string>index_2014.change.md</string>
		</array>
		<array>
			<string>singer ver.change.md</string>
		</array>
		<array>
			<string>style2014_page ver.change.md</string>
		</array>
		<array>
			<string>xpa_project_css_rules.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Help</string>
</dict>
</plist>
