<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>_layout.scss</string>
		</array>
		<array>
			<string>style.scss</string>
		</array>
		<array>
			<string>_reset.scss</string>
		</array>
		<array>
			<string>_sidebar.scss</string>
		</array>
		<array>
			<string>_print.scss</string>
		</array>
		<array>
			<string>_table.scss</string>
		</array>
		<array>
			<string>_ie.scss</string>
		</array>
		<array>
			<string>_media.scss</string>
		</array>
		<array>
			<string>_normalize.scss</string>
		</array>
		<array>
			<string>_head.scss</string>
		</array>
		<array>
			<string>_screen.scss</string>
		</array>
		<array>
			<string>_animation.scss</string>
		</array>
	</array>
</dict>
</plist>
