header {
  width: 100%;
  z-index: 3;
  img {
    float: left;
  }
  li {
    float: right;
    margin-left: 5rem;
    line-height: 7.8rem;
    color: #fff;
  }
  a {
    color: #fff;
  }
}

.header_in {
  height: 7.8rem;
  background: #333;
  padding: 2rem 5rem;
  font-size: 1.6rem;
  a,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

