.clearfix {
  *zoom: 1;
  _height: 1%;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}

.mt0 {
  margin-top: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.hide {
  display: none;
}

// 颜色块状通用格式
.color_col td {
  vertical-align: middle;
  padding: 10px;
}

.color_box td {
  line-height: 36px;
  color: white;
  width: 137px;
  padding-left: 10px;
  font-size: 12px;
}

.color_info td {
  margin-left: 2px;
  line-height: 18px;
  padding-left: 3px;
}

// 脚注通用样式
.fn_note {
  font-size: 12px;
  color: #000;
  margin: 50px 0 30px 0;
  pre {
    display: inline;
    background: #eee;
    padding: 10px 10px;
  }
}


/* 框架代码 */

#container {
  margin: 20px 0;
}

.content-wrap {
  width: 100%;
  float: left;
  color: #5D4B51;
  font-size: 1.6em;
}

input {
    font-family: Arial,Tahoma,Verdana,Helvetica,Serif,sans-serif,Monospace,‘Microsoft YaHei’;
    vertical-align: middle;
}

.content {
  margin-left: 30rem;
  max-width: 90rem;
  min-width: 78rem;
}

.pre {
  font-size: 12px;
  text-align: left !important;
}

.btn {
  color: #fff;
  border: 0;
  height: 36px;
}

.btn-link {
  display: inline-block;
  color: #70b9ed !important;
  border: 1px solid #70b9ed;
}



.btn-success,.btn-primary {
  font-size: 14px;
}

.btn-success {
  background-color: #34B01E;
}

.btn-primary {
  background-color: #1a8acc;
}

.btn-success:hover {
  background-color: #61c14f;
}

.btn-signIn{
  width: 270px;
  height: 46px;
  font-size: 14px;
  background: #1186ca url(../images/icon_login_input_checkin.png) no-repeat 94px;
  text-align: left;
  padding-left: 124px;
}

.btn-contact-seller{
  display: inline-block;
  height: 36px;
  width: 182px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;    
  background-color: #2f8ad0;
  color: #fff !important;
  img {
    margin: 0 14px -2px 0;
  }
}
.btn--secure-checkout,.btn-chat,.btn-email,.btn-report-bug,.btn-sugguestion-box {
  height: 43px;
  color: #f9f9f9;
  font-size: 15px;
  padding-left: 43px;
}
.btn--secure-checkout {
    padding-left: 50px;
    width: 257px;
    height: 52px;
    background: url(../images/btn_secure_checkout.png) no-repeat;
    font-size: 22px;
    text-align: center;
}
.btn-chat {
  width: 140px;
  background: #1186ca url(../images/icon_button_bg_chat.png) no-repeat 20px;
  background-size: 27px 22px;
}
.btn-email{
  width: 170px;
  background: #D7833B url(../images/icon_button_bg_email.png) no-repeat 16px;
  background-size: 32px 20px;
}
.btn-report-bug{
  width: 170px;
  background: #d9573b url(../images/icon_button_bg_bug.png) no-repeat 20px;
  background-size: 25px 23px;
}
.btn-sugguestion-box{
  width: 190px;
  background: #a5b030 url(../images/icon_button_bg_suggestionBox.png) no-repeat 26px;
  background-size: 26px 22px;
}
.btn-warning {
  background-color: #ffb400;
}

pre.code-info {
  color: #333;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 5px;
  padding: 9px 14px;
  margin-top: 15px;
}

.bg-warning {
    background-color: #fcf8e3;
    .txt-danger {
      margin-left: 20px;
    }
}

.bg-info {
  background-color: #d9edf7;
}
.bg-warning,.bg-info {
  padding: 15px;
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
    .txt-danger {
      font-weight: bold;
    }
}
.txt-white {
  color: #fff;
}
.txt-normal {
  color: #bcbcbc;
}
.txt-black {
  color: #000;
}
.txt-danger {
  color: #a94442;
}
.txt-darkgray {
  color: #bcbcbc;
}
.txt-normal {
  color: #ccc;
}
.txt-gold {
  color: #ffd800
}
.txt-primary {
  color: #70b9ed;
}
.txt-warning {
  color: #ff9c00;
}
.txt-danger {
  color: #ed5565;
}
.txt-dimgray {
  color: #505050;
}
.txt-gray {
  color: #a1a1a1;
}
.txt-orange {
  color: #eba000;
}
.txt-drakorange {
  color: #f69100;
}
.txt-deepskyblue {
  color: #00b1eb;
}
.txt-drakwheat {
  color: #f1c36b;
}
.btn-items {
  ul li {
    padding: 10px 0;
  }
}
#accountBtn {
  width: 155px;
  height:36px;
  text-align: left;
  color: #f9f9f9;
  font-size: 14px;
  padding-left: 20px;
  border: 0;
  background: #1186ca url(../images/arrow.png) no-repeat 125px;
}
.con-table1,.con-table2,.con-table3 {
  width: 100%;
  font-size: 14px;
  color: #bcbcbc;
  thead {
    color: #fff;
  }
  td {
    a {
        color: #70b9ed;
      }
  }
}
.con-table1 {
  background-color: #545454;
  thead {
    th {
      height: 48px;
      line-height: 48px;
    }
  }
  tr {border-bottom: 1px solid #7a7a7a;}
  tbody {
    tr {
      height: 54px;
    }
    td {
      height: 47px;
      padding: 0 10px;
    }
  }
}

.con-table2 {
  thead {
    th{
      background-color: #646464;
      font-weight: normal;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 35px;
    }
  }
  tbody {
    tr:nth-child(even) td {
      background-color: #4f4f4f;
    }
    tr:nth-child(odd) td {
      background-color: #414141;
    }
    td {
      height: 40px;
      padding: 7px 10px;
    }
  }
}

.con-table3 {
  color: #fff;
  text-align: center;
  thead {
    th{
      background-color: #747474;
      font-weight: normal;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 35px;
    }
  }
  tbody {
    tr:nth-child(even) td {
      background-color: #747474;
    }
    tr:nth-child(odd) td {
      background-color: #606060;
    }
    td {
      height: 40px;
      padding: 7px 10px;
    }
  }
}

.tips-outer {
  width: 100%;
  padding: 20px;
  background-color: #494848;
}
.helpTips {
  width: 800px;
  margin: 0 auto;
  color: #bcbcbc;
  border: 1px solid #BF8615;
  background: #494848;
  font-size: 14px;
  padding: 10px;
  font-family: Arial;
  div:first-child {
    float: left;
    padding: 10px 16px;
  }
}

.bg-tips {
  background: #494848 url(../images/icon_tips.png) no-repeat center;
  padding-left: 66px;
  background-position: 26px;
}

.product-outer {
  background: #2a2a2a;
  font-size: 12px;
  color: #fff;
  .price {
    font-size: 24px;
    font-weight: bold;
  }
  .status-covert {
    color:red;
  }
  ul{
    li {
      display: block;
      width: 234px;
      padding: 0;
      float: left;
      border-left: 1px solid #11526E;
    }
    li:first-child {
      border-left: none;
    }
  }
  .product-inner {
    border-bottom: 1px solid #11526E;
  }
  .product-items {
  }
  .product-item {
    width: 95%;
    margin: 0 auto;
  }
  .product-item-title {
    padding: 0;
    width: 196px;
    margin: 7px auto;
    height: 36px;
    line-height: 18px;
    position: relative;
  }
  .item-images {
    background: url(../images/Minimal-Wear.png);
    background-repeat: no-repeat;
    margin: 0 auto 16px auto !important;
    background-position: center 25px;
  }
  .find-more {
    width: 198px;
  }
}