* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

p{line-height:1.5em;}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #146B65;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 1rem;
}

li {
  list-style-type: none;
}

table{border-collapse: collapse;}

input{border:none;}
.clear {
  clear: both;
}