.sidebar-wrap {
  width: 25rem;
  font-size: 1.6rem;
  margin-left: -100%;
  float: left;
  a{text-decoration: none;}
}

.sidebar{
  margin-left:2.5rem;
  background: #eee;
  border-radius: 1rem;
}

.sidebar > li {
  line-height: 43px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  // transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  // transition: all 0.2s ease-in-out;
}

.sidebar > li:first-child{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.sidebar > li:last-child{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


.sidebar > li:hover{
  padding-left: 75px;
  color: #eee;
  background-color: #333;
  &:after{
    position: absolute;
    top:0;
    right:20px;
    content:"»";
  }
  a{
    color: #eee;
    display:block;
    width: 100%;
  }
}



.sidebar > li:hover .sidebar_sec_menu{
  visibility:visible;
  // transition: visibility 1s ease-in-out;
  transition: all 0.3s ease-out;
  // -webkit-animation: sidebar_sec_menu 0.3s ease-in;
  left:225px;
  width: 225px
}

.sidebar li a {
  color: #333;
}

.sidebar_sec_menu{
  width: 150px;
  background: #333;
  position: absolute;
  top:0;
  left:200px;
  z-index:2;
  visibility: hidden;
  overflow:hidden;
}

.sidebar_sec_menu li {
  line-height: 43px;
  padding-left: 20px;
  font-size: 0.8em;
  &:hover{
    line-height: 46px;
    background-color: #ddd;
    transition: line-height 0.3s ease-in;
    a{
      color: #333;
      display:block;
      width: 100%
    }
  }
}

.sidebar-wrap.fixed{
  position: fixed;
  top: 20px;
  left: 100%;
}