table {
  margin: 20px 0;
}

table.full_width {
  a{color:#f9f9f9; text-decoration: none;}
  a:hover{color: rgb(105,160,233); }
  caption code{
    font-size: 11px;
  }
  code {
    padding: 2px 5px;
    line-height: 24px;
    background-color: rgb(49, 61, 79);
    color: rgb(214, 91, 74);
  }
  width: 100%;
  font-size: 1.2rem;
  background-color: rgb(39, 49, 66);
  th {
    font-size: 1.4rem;
    background-color: rgb(49, 61, 79);
    height: 37px;
  }
  td {
    height: 68px;
    position: relative;
    width: 12.5%;
    span {
      display: block;
      float: left;
      width: 48%;
      text-align: center;
      &:first-child:after {
        content: ":";
        float: right;
        color: rgb(69, 79, 99);
      }
    }
    &:before {
      display: block;
      width: 3px;
      height: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(214, 91, 74);
      opacity: 0;
    }
    &:hover {
      background-color: rgb(61, 76, 99);
      &:before {
        height: 100%;
        opacity: 1;
        transition: all 0.6s ease-in-out;
      }
      span:first-child:after {
        color: rgb(214, 91, 74);
        transition: all 0.7s ease-in-out;
      }
    }
  }
  th,
  td {
    text-align: center;
    color: #eee;
    transition: all 0.6s ease-in-out;
    border-top: 1px solid rgb(49, 61, 79);
  }
  caption {
    background-color: rgb(39, 49, 66);
    color: #f9f9f9;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: left;
    padding-left: 30px;
    b.info {
      line-height: 7.7rem;
    }
  }
  b.info {
    font-size: 1.2rem;
    color: #8C939D;
  }
}

caption {
  height: 7.7rem;
  font-size: 2.1rem;
  line-height: 7.7rem;
}

.img_button_box {
  font-size: 20px;
  pre {
    font-size: 12px;
  }
  tr {
    border-bottom: 2px dotted #888;
  }
  tr td {
    padding: 10px;
  }
}

table.button.full_width,table.color-table.full_width {
  tr {
    td {
      padding: 10px;
      span{
        width: 100%;
      }
      span:after {
        content: "";
      }
      &:before {
        opacity: 0;
      }
    }
  }
}
